<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="logo">
    <img src="assets/imgs/logo4.png">
  </div>
  <div class="loginForm" >
    <form [formGroup]="lform" (ngSubmit)="login(lform.value)">
      <ion-input type="email" formControlName="email" placeholder="Username"></ion-input>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </form>
  </div>
  <div class="bottom">
    <button class="login-button" ion-button full color="light" (click)="login(lform.value)" [disabled]="!lform.valid">Login</button>
    <button ion-button full outline (click)="register()" color="light">Back</button>
  </div>
  <p text-center class="lightCopy">CALIENTE 2018 &reg;</p>

</ion-content>
