page-register {
  .content{
      //background-color: #091833;
        background: url('../assets/imgs/login-bg.png') no-repeat;
        background-size: 100% 100%;
        align-content: center;
        vertical-align: middle;
  }
  .logo{
        //margin: 15vh 0 10vh 0;

        text-align: center;
        h2{
            color: #fff;
        }
        img{
            width: 45%;
        }

  }
  .loginForm{
      padding: 0 12.5%;
      text-align: center;
      .text-input{
          margin: 13px 8px 13px 0;
      }
      ::placeholder,.datetime-placeholder{
            color: #D5CBB2 !important;
      }
      ion-input, ion-datetime{
          border-bottom: 1px solid #9e9e9e;
          margin-bottom: 5px;
          color: #fff;
      }
  }
  .bottom{
      margin-top:4vh;
      padding: 0 12.5%;
      

      button{
          height: 4.6rem;
          border-radius: 5px;
          margin-bottom: 20px;
          text-transform: none;
          color: #fff;
            font-family: 'HelveticaNeue';
            font-size: 13px;
            font-weight: bold;
           
          //color: #123;
      }
      .button-full.button-outline{
        border-width: 1px;
        border-radius: 5px;
        text-transform: none;
        ::after{
          content: '';
          height: 10px;
          width: 10px;
          border: 1px solid #fff;
          /* border-top-width: 2px; */
          border-radius: 5px;
          background-color: transparent;
          left: -5px;
          position: absolute;
          z-index: 9999;
          top: 2.3rem;
          /* border-color: #6d9ed0; */
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .login-button{
          background-color: #fff;
          color: #000;
          //opacity: inherit;
      }
      .login-button::after{
          content: '';
          height: 10px;
          width: 10px;
          border-radius: 5px;
          border: 1px solid #091833;
          background-color: #091833;
          left: -5px;
          position: absolute;
          z-index: 9999;
          top: 2.3rem;
          transform: translateY(-50%);
      }
    }
    .lightCopy{
        color:#000;
        background-color: #fff;
        opacity: 0.5;
        font-size: 11px;
    }
    .datetime-ios, .datetime-md {
        padding: 13px 8px 13px 16px;
    }
}
