<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="logo">
    <img src="assets/imgs/logo4.png">
  </div>
  <div class="loginForm">
    <form [formGroup]="rform" (ngSubmit)="doLogin(rform.value)">
      <ion-row>
        <ion-col><ion-input type="text" formControlName="name" placeholder="Full name"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input type="email" formControlName="email" placeholder="Email"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input type="password" formControlName="password" placeholder="Password"></ion-input></ion-col>
        <ion-col><ion-input type="password" formControlName="repass" placeholder="Re-password"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input type="text" formControlName="identity" placeholder="Identity card"></ion-input></ion-col>
        <ion-col><ion-datetime formControlName="birthday" placeholder="Birthday"></ion-datetime></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input type="text" formControlName="address" placeholder="Address"></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-input type="text" formControlName="city" placeholder="City"></ion-input></ion-col>
        <ion-col><ion-input type="tel" formControlName="phone" placeholder="Phone"></ion-input></ion-col>
      </ion-row>
    </form>
  </div>
  <div class="bottom">
    <button class="login-button" ion-button full color="light" (click)="register(rform.value)" [disabled]="!rform.valid">Create account</button>
    <button ion-button full outline (click)="backToLogin()" color="light">I have an account</button>
  </div>
  <p text-center class="lightCopy">CALIENTE 2018 &reg;</p>

</ion-content>
