page-directory {
    .content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px;
        }
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 12px;
        }
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
        .viernes{
            font-family: 'HelveticaNeue';
            color: #616161
        }
        
        
    }
    ul.side-count {
        float: left;
        width: 8%;
        background: #fff;
        padding: 0px;
        margin-left: 15px;
        border-radius: 20px;
        box-shadow: 0px 20px 30px rgba(160, 158, 158, 0.22);
    }
    ul.side-count li {
        list-style: none;
        padding: 5px;
        text-align: center;
        color: #731b3f;
        font-weight: bold;
    }
    .searchbar-ios .searchbar-input,.searchbar-md .searchbar-input{
        background-color: #7d153d;
        color: #fff;
        font-family: 'SF Pro Display';
    }
    .searchbar-ios, .searchbar-md{
        background: #dedede;
        padding: 0 16px;
    }
    .searchbar-input-container input::placeholder{
        color: #fff !important;
    }
    .card-header-ios,.card-header-md{
        color: #000;
        text-align: right;
        background-color: #F8EA04;
        border-radius: 6px;
        font-size: 18px;
        position: relative;
      
    } 
    .floor2{
        width: 22%;
        float: left;
        background-color: #7d153d;
        color: #fff;
        padding:10px 2px;
        font-size: 12px;
        border-radius: 6px;
        font-weight: bold;
        line-height: 24px;
        font-family: 'HelveticaNeue';
    }
    .floor2 span{
        color: #fff;
        font-size: 28px;
        margin-top: 10px;
    }
    .card-ios,.card-md {
        border-radius: 6px;
        min-height: 30vh;
        margin-bottom: 0;
        margin-top: 5px;
        width: 100%;
        margin: 0;
    }
    
    .end-circle{
        display: block;
        width: 16px;
        height: 16px;
        right: -10px;
        top: 36px;
        overflow: hidden;
        position: absolute;
        background-color: #dedede;
        border-radius: 50%;
        -webkit-transform: translateY(50%);
        transform: translate(-25%,-125%);
    }
    .start-circle {
        display: block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        position: absolute;
        top: 58%;
        background-color: #dedede;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-35%, -50%);
    }
    .map-container {
        padding-bottom: 16px;
        background-color: #fff;
        border-radius: 6px;
        margin-top: 3px;
    
        img{
            width: 100%;
        }
    }
    .right-map {
        width: 81%;
        float: left;
        margin: 15px;
        margin-left: 7px;
        margin-right: 0;
        .bach{
            padding: 0;
        }
    }
    
    .bach_txt{
        float: right;
        margin-right: 20px;
        margin-top: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Segoe UI';
        
    }
    .itemselect{
        color: #000;
        margin-top: 48px;
        font-size: 22px;
       
        .caret {
            font-size: 25px;
            margin-right: 5px;
        }
        .active{
            color: #7d153d;
            font-size: 30px;
        }
    }
     .radio-icon{
        display: none !important;
    
    }

    .lab_zara{
        color: #888;
        text-align: left;
        border-bottom: 0px solid #eee;
        margin: 5px 8px 5px 0;
    }
    .item-radio-checked{
        color: #7d153d!important;
        font-size: 24px!important;
    }

    .item-radio-checked.item-md ion-label{
        color: #7d153d!important;
    }

    .item-radio-checked.item-md ion-label:before{
    content: "\f0da";
    font-family: 'Font-awesome';
    margin-right: 5px;
    }
    
}

@media only screen and (min-width: 750px) {
    
    page-directory .mall-logo-container .mall-logo{
        height: 200px;
    }
    page-directory .floor2{
        width: 13%;
        padding-right: 6px;
    }
    page-directory .right-map{
        width: 87%;
    }
    
}