<!--
  Generated template for the DirectoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar class="header-logo">
      <img class="mall-logo" src="assets/imgs/logo3.png"/>
    </ion-navbar>
</ion-header>


<ion-content>

  <div class="mall-logo-container" (click)="agenda()">
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label class="viernes">VIERNES 29 DE JULIO.<span style="color: #7d153d">19H23:32</span></ion-label>
  </div>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  <ul class="side-count">
    <li *ngFor="let e of alpha" (click)="alphabet(e)">{{e}}</li>
  </ul>
  <div class="right-map">
  <ion-card>
    <ion-card-header class="bach">
      <div class="bach_txt">{{selectedItemName}}</div>
      <div class="floor2">FLOOR<span>{{floor}}</span></div>
      <span class="end-circle"></span>

    </ion-card-header>
    <!-- <ion-list *ngFor="let item of directory" no-lines>

      <ion-item *ngIf="item.logo" (click)="selected(item)" class="itemselect">

          <ion-label><ion-icon class="caret" name="arrow-dropright"></ion-icon><span>{{item.name}}</span></ion-label>

      </ion-item>

    </ion-list> -->
<ion-list radio-group >
        <ion-item *ngFor="let item of directory" no-lines>
          <ion-radio *ngIf="item.logo" (click)="selected(item)" class="itemselect" ><span class="caret"></span></ion-radio>
          <ion-label class="lab_zara" >{{item.name}}</ion-label>
        </ion-item>
    </ion-list>
    <span class="start-circle"></span>
  </ion-card>
  <div class="map-container" *ngIf="selectedItem" >
    <img [src]="'data:image/jpeg;base64,'+selectedItem.map"/>

  </div>
</div>
</ion-content>
