<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="header-logo">
    <ion-buttons start>
      <button ion-button color="danger" (click)="cancel()"></button>
    </ion-buttons>
    <img class="mall-logo" src="assets/imgs/logo3.png"/>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="mall-logo-container">
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label>AGENDA</ion-label>
  </div>
  <div *ngFor="let item of agenda">
    <div class="agenda-holder" (click)="agendadetails(item)">
      <div class="agenda-image">
        <img [src]="'data:image/jpeg;base64,'+item.banner || 'assets/imgs/inner-mall-banner.png'"/>
      </div>
      <div class="calender-up"><ion-label>{{item.date_start |amDateFormat: 'MMM'|| 'JUNE'}}</ion-label></div>
      <div class="calender-down"><ion-label>{{item.date_end |amDateFormat: 'MMM'|| 'JULY'}}</ion-label></div>
      <div class="date">
        <ion-label>{{item.date_start |amDateFormat: 'DD'|| '1'}}</ion-label>
        <ion-label>></ion-label>
        <ion-label>{{item.date_end |amDateFormat: 'DD'|| '9'}}</ion-label></div>
      <div class="l-circle"></div>
    </div>
  </div>
</ion-content>
