page-agenda {
    .content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px;
        }
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 12px;
            color: #717881;
        }
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
    }

    .offer-holder{
        margin: 0 16px;
        background-color: #222;
        background: url('../assets/imgs/offer-banner2.png') no-repeat;
        background-size: 100% 100%;
        border-radius: 6px;
        height: 90px;
        margin-bottom: 5px;
        .l-circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
            left: -8px;
            top: 36px;
        }
        .r-circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
            left: calc(100% - 10px);
            top: 19px;
        }
        .offer-image{

        }
        .timmer-holder{
            width:25%;
            height:90px;
            float: right;
            background-color: rgba(222,222,222,0.41);
            .timmer{
                height: 70px;
                width: 70px;
                margin: 0 auto;
            }
            .time{
                text-align: center;
                color: #fff;
                ion-label{
                    margin:0;
                }
            }
        }
    }
    .agenda-holder{
        margin: -10px 16px;
        background-color: #fff;
        height: 90px;
        border-radius: 4px;
        position: relative;
        .agenda-image{
            width: 78%;
            float: right;
            img{
                width: 100%;
                height: 90px;
            }
        }
        .calender-up{
            position: relative;
            top:0;
            left: 0px;
            ion-label{
                font-size: 8px;
                color:#717881;
                font-weight: bold;
                font-family: 'HelveticaNeue';
                transform: rotate(-90deg) translateX(15%) translateY(-240%);
            }
        }
        .calender-down{
            position: relative;
            top:0;
            left: 0px;

            ion-label{
                font-size: 8px;
                
                color:#717881;
                font-weight: bold;
                font-family: 'HelveticaNeue';

                transform: rotate(-90deg) translateX(-30%) translateY(-240%);
            }
        }
        .date{
            position: absolute;
            top: 17px;
            left: 14px;
            font-size: 20px;
            font-weight: bold;
            ion-label{
                color: #7d153d;
                float: left;
            }
        }
        .l-circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
            left: -8px;
            top: -11px;
        }
    }
    
    
} 



@media only screen and (min-width: 750px) {

    page-agenda .mall-logo-container .mall-logo{
        height: 200px;
    }

    page-agenda .agenda-holder{
        height: 130px;
    }

    page-agenda .agenda-holder .agenda-image img{
        height: 130px;
    }
    page-agenda .agenda-holder .date {
        position: absolute;
        top: 28px;
        left: 30px;
        font-size: 40px;
        font-weight: bold;
    }

    page-agenda .agenda-holder .calender-down ion-label{
        font-size:15px;     
        transform: rotate(-90deg) translateX(-8%) translateY(-324%);
    }
    page-agenda .agenda-holder .calender-up ion-label{
        font-size:15px;     
        transform: rotate(-90deg) translateX(25%) translateY(-324%);
    }
    
    
    
    }