<!--
  Generated template for the PopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>popup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="imageContainer">
    <div class="imageHolder">
      <img [src]="image_banner"/>
      <ion-icon name="ios-close-circle" class="close-button" color="red" (click)="closePopup()"></ion-icon>
    </div>
    <div class="bottomLogo">
      <img src="assets/imgs/single-logo.png"/>
    </div>
  </div>
</ion-content>
