page-popup {
    .content{
        //background-color: #091833;
        background: url('../assets/imgs/popup-bg.png') no-repeat;
        background-size: 100% 100%;
        align-content: center;
        vertical-align: middle;
        .imageContainer{
            height: 100vh;
            width: 100vw;

            .imageHolder{
                position: relative;
                text-align: center;
                top: 50px;
               img{
                width:75%;
               }
               .icon{
                   position: absolute;
                   color: #f4f4f4;
                   font-size: 5rem;
                   top:-36px;
               }

            }
        }
        .bottomLogo{
          position: absolute;
          bottom: 20px;
          text-align: center;
          img{
            width:12%;
          }
        }
        .close-button{
            animation-name: example;
            animation-duration: 5s;
            animation-iteration-count: 1;
        }
        @keyframes example {
            0%  {opacity:  0;}
            98% {opacity: 0;}
            99%  {opacity: 1;}
            100% {opacity: 1;}
        }
    }
}
