page-offer {
    $a: 100%;
    $b: 16px;
    .content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px;
        }
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 11px;
        }
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
        span{
            color: #7d153d;
        }
    }

    .offer-holder{
        margin: 0 16px;
        background-color: #222;
        //background: url('../assets/imgs/offer-banner2.png') no-repeat;
        //background-size: 100% 100%;
        border-radius: 6px;
        height: 90px;
        margin-bottom: 5px;
        .l-circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
            left: -8px;
            top: 36px;
        }
        .r-circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
            left: calc(100% - 10px);
            top: 19px;
        }
        .offer-image{
            position: absolute;
            img{
                border-radius: 6px;
                max-width: -webkit-calc(#{$a} - #{$b});
                max-width: -moz-calc(#{$a} - #{$b});
                max-width: Calc(#{$a} - #{$b});
                height: 90px;
            }
        }
        .timmer-holder{
            width:25%;
            height:90px;
            float: right;
            background-color: rgba(80,80,80,0.41);
            position: relative;
            border-radius: 6px;
            .timmer{
                height: 70px;
                width: 70px;
                margin: 0 auto;
                background: Url('../assets/imgs/timmer-border.png') no-repeat;
                background-position: center;
                .timmer-svg{
                    margin: 0 auto;
                    top: 16px;
                }
            }
            .time{
                text-align: center;
                color: #fff;
                ion-label{
                    margin:0;
                }
            }
        }
        .qr-holder{
            width:25%;
            height:90px;
            float: right;
            background-color: #7d153d;
            position: relative;
            border-radius: 6px;
            .QR{
                height: 60px;
                width: 60px;
                margin: 0 auto;
                margin-top: 15px;
                background-color: #fff;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .viernes{
        font-family: 'HelveticaNeue';
        color: #616161
    }

}




@media only screen and (min-width: 750px) {
    page-offer .mall-logo-container .mall-logo{
        height: 200px;
    }
    page-offer .offer-holder{
        height: 180px;
    }
    page-offer .offer-holder .l-circle{
        top: 78px;
    }
    page-offer .offer-holder .timmer-holder{
        height: 100%;
    }
    
}