<!--
  Generated template for the OfferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="header-logo">
      <img class="mall-logo" src="assets/imgs/logo3.png"/>
    </ion-navbar>
</ion-header>


<ion-content>
  <div class="mall-logo-container" (click)="agenda()">
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label class="viernes">VIERNES 29 DE JULIO.<span>19H23:32</span></ion-label>
  </div>
  <div *ngFor="let item of offers">
    <div class="offer-holder">
      <div class="offer-image">
        <img *ngIf="item.link_image" [src]='"http://"+item.link_image'/>
      </div>
      <div class="timmer-holder" (click)="checkOffer(item)" *ngIf="!item.showQR">
        <div class="timmer">
          <!-- <canvas id="myCanvas" width="70" height="70" style="border:1px solid #dedede;"></canvas> -->
          <round-progress class="timmer-svg" [current]="minutes" [stroke]="22" [color]="'#7d153d'" [radius]="22" [max]="60"></round-progress>
        </div>
        <div class="time">
          <ion-label>{{hours}}:{{minutes}}:{{seconds}}</ion-label>
        </div>
      </div>
      <div class="qr-holder" *ngIf="item.showQR">
        <div class="QR">
          <img src="assets/imgs/qr.png" />
        </div>
      </div>
      <div class="l-circle"></div>
      <div class="r-circle"></div>
    </div>
  </div>
</ion-content>
