<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <div class="logo">
    <img src="assets/imgs/icon.png">
  </div>
  <div class="sliderImage">
      <ion-slides loop="false">
        <ion-slide *ngFor="let item of malls">
          <div class="singleSlide">
            <div class="upperSection" text-right>
              <ion-row >
                <ion-col col-3 class="icon">
                  <ion-row>
                    <ion-col><ion-icon name="locate"></ion-icon></ion-col>
                    <ion-col><ion-icon name="call"></ion-icon></ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-9 class="address" text-right>

                  <ion-row >
                    <ion-label>{{item.address}},</ion-label>
                  </ion-row>
                  <ion-row >
                      <ion-label>{{item.phone}},</ion-label>
                  </ion-row>
                  <ion-row>
                      <ion-label>{{item.email}}</ion-label>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
            <div class="midSection">
              <div class="midAddress">
                <ion-label><span class="viers">VIERNES 29 DE JULIO.</span>19H23:32</ion-label>
              </div>
              <ion-item>
                <ion-icon name="ios-arrow-back" item-start (click)="prev()"></ion-icon>
                <img [src]="item.image_banner" (click)="checkLogin(item)"/>
                <ion-icon name="ios-arrow-forward" item-end (click)="next()"></ion-icon>
              </ion-item>
            </div>
            <div class="lowerSection">
              <img [src]="item.image_banner"/>
            </div>
            <p text-center class="lightCopy">CALIENTE 2018 &reg;</p>
          </div>
        </ion-slide>
      </ion-slides>
  </div>
</ion-content>
