page-home {
    .content{
        background-color: #091833;
        align-content: center;
        vertical-align: middle;
    }
    .logo{
        height:12vh;
        text-align: center;
        h2{
            color: #fff;
        }
        img { 
            width: 25%;
            margin-top: -10px;
        }
    }
    .singleSlide{
        height: 90vh;
        background: url('../assets/imgs/slider-bg.png') no-repeat;
        background-size: 100% 100%;
        .upperSection{
        //     height: 20px;
            .icon{
                // width: 20%;
                background: #99a9a6;
                text-align: center;
                line-height: 35px;
                .col{
                  padding: 7px 0 0 0;
                }
                ion-icon{
                    font-size: 1.2em;
                    color: #fff;
                }
                

            }
            .address{
                //width: 80%;
                background: #d6ccb2;
                ion-label {
                    font-size: 9px;
                    font-family: 'HelveticaNeue';
                    color:#fff;
                    font-weight: bold;
                    line-height: 14px;
                    margin:0!important;
                }

                
            }
            
        }
        .midSection{
            height: 56vh;
            .midAddress .label{
              font-size: 11px;
              color: #fff;
              left: 10px;
              position: absolute;
              font-weight: bold;
              font-family: 'HelveticaNeue';
            }
            .viers{
                color: #d6ccb2;
            }
            .item{
                padding-top: 25vh;
                background-color: transparent !important;
                .item-inner{
                    margin-left:0;
                    border: 0px !important;
                    .label{
                        margin-right: 13px !important;
                    }
                }
            }
            ion-icon{
                font-size: 2.5em;
                color: #ffffff;
            }
        }
        .lowerSection{
            margin: 0 5vw;
            border: 1px solid #fff;
            border-radius: 5px;
            img{
                padding: 5px;
            }
        }
    }
    .lightCopy{
        color:#fff;
        opacity: 0.5;
        font-size: 11px;
    }
}
