<!--
  Generated template for the ServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="header-logo">
      <img class="mall-logo" src="assets/imgs/logo3.png"/>
    </ion-navbar>
</ion-header>


<ion-content>
  <div class="mall-logo-container" (click)="agenda()">
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label class="viernes">VIERNES 29 DE JULIO.<span>19H23:32</span></ion-label>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-icon name="ios-arrow-back-outline" class="left-icon"></ion-icon>
      <img src="assets/imgs/lift.png" />
      <img src="assets/imgs/gender.png" />
      <img src="assets/imgs/dollar.png" />
      <img src="assets/imgs/car.png" />
      <img src="assets/imgs/esclator.png" />
      <ion-icon name="ios-arrow-forward-outline" class="right-icon"></ion-icon>
    </ion-card-header>
    <h6 text-center class="category"><span>&#9650;</span>BANK</h6>
    <ion-list *ngFor="let item of services" no-lines>
      <ion-item *ngIf="item.logo" (click)="selected(item.map)">
          <ion-label class="up_caret"><ion-icon class="caret" name="arrow-dropright"></ion-icon>
      
          <img class="logo-list" [src]="'data:image/jpeg;base64,'+item.logo"/>
      </ion-label>
      </ion-item>
    </ion-list>
    <span class="side-circle"></span>
  </ion-card>
  <div class="map-container" *ngIf="selectedMap" >
    <img [src]="'data:image/jpeg;base64,'+selectedMap"/>
    <span class="circle"></span>
  </div>
</ion-content>
