page-service {
    .content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px;
        }
    }
    .card-header-ios,.card-header-md{
        color: #fff;
        background-color: #7d153d;
        border-radius: 6px;
    }
    .card-ios,.card-md{
        border-radius: 6px;
        min-height: 33vh;
    }
    .logo-list {
        width: 45%;
        margin-left: 5%;
    }
    .map-container{
        margin: 0 16px;
        padding-bottom: 16px;
        background-color: #fff;
        border-radius: 6px;
        img{
            width: 100%;
        }
        .circle{
            display: block;
            width: 16px;
            height: 16px;
            /* bottom: 0px; */
            left: 50%;
            overflow: hidden;
            position: absolute;
            background-color: #dedede;
            border-radius: 50%;
            transform: translateY(50%);
        }
        // .circle:after{
        //     content:'';
        //     width: 100px;
        //     height: 100px;
        //     -moz-border-radius: 100px;
        //     -webkit-border-radius: 100px;
        //     border-radius: 100px;
        //     background:rgba(0,0,0,0);
        //     position:absolute;
        //     top:-100px;
        //     left:-40px;
        //     border:40px solid rgba(0,0,0,0.5);
        // }
    }
    .side-circle{
        display: block;
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        background-color: #dedede;
        border-radius: 50%;
        transform: translateX(-50%);
        top: 50%;
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 11px;
        }
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
            .viernes{
                font-family: 'HelveticaNeue';
                color: #616161;   
            }
            .viernes span{
                color: #7d153d;
            }
        
        
    }
    .card-header{
        .left-icon{
            color: #fff;
            position: absolute;
            left: 19px;
            font-size: 32px;
        }
        .right-icon{
            color: #fff;
            position: absolute;
            right: 19px;
            font-size: 32px;
        }
        img{
            float: left;
            width: 30px;
            height: 30px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .category{
        color: #7d153d;
        margin-top: 15px;
        
        font-size: 12px;
        font-family: 'HelveticaNeue';
        span{
            top:-15px;
            right: -20px;
            position: relative;
        }
       
    }
    
    .up_caret{
        margin-top: 25px;

    
    .caret{
        float: left;
        color: #7d153d;
        margin-right: 10px;
        font-size: 40px !important;
        line-height: 30px;
    }
    }
}




@media only screen and (min-width: 750px) {
    page-service .mall-logo-container .mall-logo{
        height: 200px;
    }
    page-service .up_caret .caret{
        margin-top: 20px;
    }
    page-service .card-header img{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}