// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.action-sheet-md {
    text-align: center;
  }
  
  .action-sheet-md .action-sheet-wrapper {
    margin: constant(safe-area-inset-top) auto constant(safe-area-inset-bottom);
    margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom);
  }
  
  .action-sheet-md .action-sheet-container {
    padding: 0 10px;
  }
  
  .action-sheet-md .action-sheet-group {
    border-radius: 13px;
    margin-bottom: 8px;
    background: #f9f9f9;
  }
  
  .action-sheet-md .action-sheet-group:first-child {
    margin-top: 10px;
  }
  
  .action-sheet-md .action-sheet-group:last-child {
    margin-bottom: 10px;
  }
  
  .action-sheet-md .action-sheet-title {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 1.3em;
    font-weight: 400;
    color: #8f8f8f;
  }
  
  .action-sheet-md .action-sheet-button {
    margin: 0;
    padding: 18px;
    min-height: 2em;
    border-bottom: 0.55px solid #d6d6da;
    font-size: 1em;
    color: #007aff;
    background: transparent;
  }
  .action-sheet-md .action-sheet-group .button-inner{
    justify-content: center;
  }
  .action-sheet-md .action-sheet-button:last-child {
    border-bottom-color: transparent;
  }
  
  .action-sheet-md .action-sheet-button.activated {
    margin-top: -0.55px;
    border-top: 0.55px solid #ebebeb;
    border-bottom-color: #ebebeb;
    background: #ebebeb;
  }
  
  .action-sheet-md .action-sheet-selected {
    font-weight: bold;
    background: #fff;
  }
  
  .action-sheet-md .action-sheet-cancel {
    color: #f53d3d;
  }
  
  .action-sheet-md .action-sheet-cancel {
    font-weight: 600;
    background: #fff;
  }
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeueBold.eot');
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeue/HelveticaNeueBold.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueBold.woff') format('woff'),
        url('../assets/fonts/HelveticaNeue/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeueRegular.eot');
    src: url('../assets/fonts/HelveticaNeue/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeue/HelveticaNeueRegular.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeue/HelveticaNeueRegular.woff') format('woff'),
        url('../assets/fonts/HelveticaNeue/HelveticaNeueRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/fonts/HelveticaNeue/HelveticaNeueMedium.eot');
    src: url('assets/fonts/HelveticaNeue/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/HelveticaNeue/HelveticaNeueMedium.woff2') format('woff2'),
        url('assets/fonts/HelveticaNeue/HelveticaNeueMedium.woff') format('woff'),
        url('assets/fonts/HelveticaNeue/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.eot');
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Light.eot');
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Light.woff2') format('woff2'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Light.woff') format('woff'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.eot');
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.eot');
    src: url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
        url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI/SegoeUI.eot');
    src: url('../assets/fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI/SegoeUI.woff') format('woff'),
        url('../assets/fonts/SegoeUI/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI/SegoeUI-Bold.eot');
    src: url('../assets/fonts/SegoeUI/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SegoeUI/SegoeUI-Bold.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI/SegoeUI-Bold.woff') format('woff'),
        url('../assets/fonts/SegoeUI/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/SegoeUI/SegoeUI-Semibold.eot');
    src: url('../assets/fonts/SegoeUI/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SegoeUI/SegoeUI-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SegoeUI/SegoeUI-Semibold.woff') format('woff'),
        url('../assets/fonts/SegoeUI/SegoeUI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}







.tabs-ios[tabsLayout=icon-hide] .tab-button, .tabs-ios .tab-button.has-title-only{
    min-height: 42px;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: inherit; 
}
.show-tabbar{
    top: 48px;
}
.tabs-ios[tabsLayout=icon-hide] .tab-button, .tabs-ios .tab-button.has-title-only{
    text-transform: uppercase;
} 
.tabs-md .tab-button-text {
    font-size: 1.1rem;
}

///////////////radio/////////////////
// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//     position: absolute;
//     left: -9999px;
// }
// [type="radio"]:checked + label {
//     color: #f00;
//     transition: .1s;
//     position: relative;
//     padding-left: 17px;
//     padding-top: 3px;
//     line-height: 20px;
//     display: inline-block;
// }

// [type="radio"]:not(:checked) + label
// {
//     position: relative;
//     cursor: pointer;
//     line-height: 20px;
//     display: inline-block;
//     color: #000;
//     padding-top: 3px;
//     padding-left: 17px;
// }
// [type="radio"]:checked + label:before {
//     content: "\f0da";
//     font-family: 'Font awesome 5 Free';
//     padding-right: 15px;
//     font-size: 20px;
//     position: absolute;
//     left: 0;
//     top: 3;
// }
          





