<!--
  Generated template for the MallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>mall</ion-title>
  </ion-navbar>

</ion-header> -->


<!-- <ion-content>
  <div>
    <ion-segment [(ngModel)]="screen">
      <ion-segment-button value="offer" ionSelect="change(screen)">
        Offers
      </ion-segment-button>
      <ion-segment-button value="service" ionSelect="change(screen)">
        Service
      </ion-segment-button>
      <ion-segment-button value="directory" ionSelect="change(screen)">
        Directory
      </ion-segment-button>
      <ion-segment-button value="account" ionSelect="change(screen)">
        Account
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content> -->
<ion-tabs tabsPlacement="top">
  <ion-tab tabTitle="PROMOS" [root]="offer"></ion-tab>
  <ion-tab tabTitle="SERVICES" [root]="service"></ion-tab>
  <ion-tab tabTitle="DIRECTORY" [root]="directory"></ion-tab>
  <ion-tab tabTitle="ACCOUNT" [root]="account"></ion-tab>
</ion-tabs>