page-mall {
    // .segment-ios .segment-button,.segment-md .segment-button{
    //     color:#b9abab;
    // }
    // .segment-ios .segment-button.segment-activated,.segment-md .segment-button.segment-activated{
    //     background-color: transparent;
    //     color: #fff;
    // }
    // .segment-ios .segment-button,.segment-md .segment-button{
    //     border-width: 0px;
    // }
    // ion-segment{
    //     background-color: #942626;
    //     padding-top: 16px;
    //     padding-bottom: 32px;
    // }
    .tabs-md[tabsPlacement=top] .tabbar,.tabs-ios[tabsPlacement=top] .tabbar{
        border-width: 0;
    }
    .tabs-ios .tabbar,.tabs-md .tabbar.tabbar{
        background-color: #7d153d;
    }
    .tabs-ios .tab-button[aria-selected=true],.tabs-md .tab-button[aria-selected=true]{
        color: #fff;
    }
    .tabs-ios .tab-button,.tabs-md .tab-button{
        color: #717171;
        font-family: 'HelveticaNeue';
    }
    .enable-hover a:hover{
        opacity: 1;
    }
}
