<!--
  Generated template for the AgendadetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="header-logo">
    <img class="mall-logo" src="assets/imgs/logo3.png"/>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="mall-logo-container" >
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label class="viernes">CALENDAR</ion-label>
  </div>
  <div class="agenda-image">
      <div class="l-circle"></div>
    <img [src]="'data:image/jpeg;base64,'+agendaDetails.banner || 'assets/imgs/inner-mall-banner.png'"/>
    <!-- <div class="l-circle"></div> -->
  </div>
  
  <div class="agenda-details">
      <ion-icon name="ios-arrow-back" class="left-icon1" navPop></ion-icon>
    <div class="upper-text">
      <p text-center [innerHtml]="agendaDetails.description"></p>
      <!-- <p text-center > Por cada <b>USD <span>50</span></b> de consumo lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut emin ad minim veniam.</p>
      <p text-center >Duis aute irure dolor in reprehenderit in voluptate velit esse ci;;um dolore eu fugiat nulla pariatur.</p> -->
    </div>
    <div class="lower-text">
      <h5 text-center>LLENA TUS CUPONES Y PARTICIPA POR EL PREMIO YA!</h5>
    </div>
    <div class="note" text-right>
      <p>* Loreum Ipsum</p>
    </div>
    <div class="l-circle"></div>
  </div>
  <div class="agenda-address" text-center>
    <h6 text-uppercase>FROM {{agendaDetails.date_start | amDateFormat: 'MMMM DD'}} TO {{agendaDetails.date_end | amDateFormat: 'MMMM DD'}}</h6>
    <img src="assets/imgs/single-logo.png" />
  </div>
</ion-content>
