page-agendadetails {
	.content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px;
        }
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 12px;
        }
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
    }
    .agenda-image{
    	background-color: pink;
    	margin: 0px 26px;
    	border-radius: 6px;
        height: 130px;
        position: relative;
        img{
            height: 130px;
        }
    	.l-circle{
    		height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #dedede;
            position: absolute;
            left: -8px;
            top: 57px;
    	}
    }
    .agenda-details{
		margin-right: 26px;
		margin-left: 50px;
		margin-top: 0px;
		padding-top: 15px;
		padding-left: 40px;
		background-color: #fff;
		padding-right: 15px;
		padding-bottom: 10px;
		border-radius: 6px;
        height: 292px;
        position: relative;
		.lower-text{
            color: #7d153d;
            
             h5{
                color: #7d153d;
                font-size: 12px !important;
                font-family: 'HelveticaNeue';
                font-weight: bold;
            }
		}
		.note{
            opacity: 0.5;
            font-size: 10px;
		}
		.l-circle{
			height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #dedede;
            position: relative;
			left: -49px;
			top: -162px;
        }
        .left-icon1{
            position: absolute;
            top: 44%;
            left: -30px;
            color: #7d153d;
            font-size: 44px;
        }
        .upper-text {
            
            color:#717881; 
            font-size:14px;
            font-family: 'HelveticaNeue';
        }
        .upper-text span{
            font-size: 18px;
        }
	}
	.agenda-address{
		background-color: #fff;
		margin: 2px 16px;
		padding: 5px;
		border-radius: 6px;
		color: #7d153d;
		img{
			width: 50px;
			height: 50px;
        }
        
    }

    .viernes{
        font-family: 'HelveticaNeue';
        color: #616161 !important;   
    }
    
    
}


@media only screen and (min-width: 750px) {

    page-agendadetails .mall-logo-container .mall-logo{
        height: 200px;
    }

    page-agendadetails .agenda-image{
        height: 130px;
    }

    page-agendadetails .agenda-details .l-circle{
        top: -22px;
    }
    
    
    
    }