<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="header-logo">
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons> -->
    <img class="mall-logo" src="assets/imgs/logo3.png"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="doLogout()">
        <ion-icon name="ios-log-out-outline" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="mall-logo-container" (click)="agenda()">
    <div class="container-bg"></div>
    <div class="mall-logo">
      <div class="single-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
    </div>
    <ion-label class="viernes">VIERNES 29 DE JULIO.<span>19H23:32</span></ion-label> 
  </div>
  <div class="user-info-holder" *ngIf="!showQRdiv" [@enterAnimation]>
    <div class="top-section" justify-content-center>
      <ion-row justify-content-center>
        <ion-col>
          <div class="image-part">
            <ion-row>
              <ion-col align-self-center>
                <div class="img-holder">
                  <img [src]="userData.profilepicUrl || ''"/>
                </div>
              </ion-col>
              <ion-col (click)="profilepic();">
                <ion-icon name="ios-camera"></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col align-self-center>
          <div class="qr-part">
            <ion-row justify-content-center>
              <ion-col text-right class="qc_txt" align-self-center>
                <div class="text-holder">
                    <ion-label>VIERNES JULIO</ion-label>
                    <ion-label>.19H23:32</ion-label>
                    <ion-label>.19H23:32</ion-label>
                </div>
              </ion-col>
              <ion-col class="qc_code" align-self-center>
                  <div class="qr-holder">
                    <div class="qr-code" (click)="showQR()">
                      <img src="assets/imgs/barcode.png"/>
                    </div>
                  </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <div class="circle"></div>
    </div>
    <div class="user-details">
        <ion-row>
          <ion-col>
            <ion-label>Full name <span>{{userData.name}}</span><ion-icon name="md-create"></ion-icon></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-label>Email <span>{{userData.email}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-label>identity card <span>{{userData.identity}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
          <ion-col><ion-label>Birthday <span>{{userData.birthday}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-label>Address <span>{{userData.address}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-label>City <span>{{userData.city}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
          <ion-col><ion-label>Phone <span>{{userData.phone}}</span><ion-icon name="md-create"></ion-icon></ion-label></ion-col>
        </ion-row>
    </div>
    <div class="user-card">
      <div class="card">
        <img src="assets/imgs/cardBack.jpg"/>
      </div>
      <div class="card-logo">
        <img src="assets/imgs/single-logo.png"/>
      </div>
      <div class="card-number">
        <ion-label>1234 5678 9876 5432</ion-label>
        <div class="xaxi1">
          XAVIER BARONA
        </div>
        <div class="xaxi1"> 
          12/05/20
        </div>
      </div>
      


    </div>
  </div>
  <div class="user-info-holder" *ngIf="showQRdiv" (click)="hideQR()" [@enterAnimation]>
    <div class="top-section">
      <div class="image-part">
        <ion-row>
          <ion-col col-3>
            <div class="img-holder">
                <img [src]="userData.profilepicUrl"/>
            </div>
          </ion-col>
          <ion-col class="name-label">
            <ion-label>VIERNES JULIO</ion-label>
            <ion-label>.19H23:32</ion-label>
          </ion-col>
        </ion-row>
      </div>
      <div class="circle"></div>
    </div>
    <div class="user-details qr-sec">
      <div class="qr-holder"><img src="assets/imgs/scaner.jpg"/>
        <div class="qr-code"></div>
      </div>
    </div>
  </div> 
</ion-content>
