page-account {
    .content-ios, .content-md{
        background-color: #dedede;
    }
    .toolbar-background-ios,.toolbar-background-md{
        background-color: #7d153d;
        text-align: center;
    }
    .toolbar-content{
        text-align: center;
        img{
            width: 21%;
            //padding-bottom: 55px; 
        }
    }
    .mall-logo-container{
        //height: 20px;
        width:100%;
        .label-ios,.label-md {
            margin: 7px 8px 9px 16px;
            font-size: 12px;
            
           
        }
       
        .container-bg{
            position: absolute;
            background-color: #7d153d;
            height: 50px;
            width: 100%;
            z-index: -1;
        }

        .mall-logo{
            height: 100px;
            margin-left: 16px;
            margin-right: 16px;
            background: url('../assets/imgs/inner-mall-banner.png') no-repeat;
            background-size: 100% 100%;
            background-color: pink;
            border-radius: 6px;
            .single-logo{
                width: 13%;
                /* right: 20px; */
                top: 40px;
                position: absolute;
                right: 25px;
            }
        }
        span{
            color: #7d153d;
        }
    }
    .user-info-holder{
        transition-duration: 1000ms;
        margin: 0 16px;
        border-radius: 6px;
        background-color: #fff;
        .circle{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background-color: #dedede;
            position: absolute;
            left: 0px;
            top: 31%;
            transform: translateX(50%);
        }
        .top-section{
            padding: 0 16px;
            border-bottom: 1px solid #dedede;
            .image-part{

                .img-holder{
                    background-color: #7d1f1f;
                    height: 66px;
                    width: 66px;
                    border-radius: 50%;
                    img{
                        width: 66px;
                        border: 0;
                        height: 66px;
                        background-size: cover;
                        border-radius: 50%;
                    }

                }
                ion-icon{
                    position: absolute;
                    color: #7d1f1f;
                    top: 25%;
                    transform: translate(0%, 15%);
                    font-size: 2em;
                }
                .name-label{
                    ion-label{
                        color: #7d1f1f;
                    }
                }
            }
            .qr-part{
                .qc_txt{
                    width: 60%;
                }
                .qc_code{
                    width: 40%;
                }
                .text-holder{
                    ion-label{
                        padding: 0;
                        margin: 1px;
                        font-size: 10px;
                        color: #7d1f1f;
                        font-family: 'SF Pro Display';
                    }
                }
                .qr-holder{
                   
                    padding: 6px;
                    .qr-code{
                        width: 40px;
                        height: 40px;                      
                        margin: 0 auto;
                    }
                }
            }

        }
        .user-details{
            color: #7d1f1f;
            ion-label{
                margin: 8px;
                border-bottom: 1px solid #dedede;
                font-size: 10px;
                font-family: 'SF Pro Display';
                
                color:#7D153D;
                span{
                    color: #000;
                    margin-left: 5px;
                }
                ion-icon{
                  float: right;
                  color: #7d1f1f;
                }
            }
            .qr-holder{
                border: 1px solid #7d1f1f;
                margin: 0 auto;
                width: 200px;
                height: 200px;
                
                .qr-code{
                   background-color: pink;
                }
            }
        }
        .user-card{
            position: relative;

          .card{
            padding: 16px;

            margin: 0 auto;
            img{
              //width: 80%;
              border-radius: 6px;

            }
          }
          .card-logo{
            position: absolute;
            left: 78%;
            top: 12%;
            width: 32%;
            img{
              width: 45%;
            }
          }
          .card-number{
            position: absolute;
            left: 25%;
            bottom: 22%;
            ion-label{
              font-family: 'HelveticaNeue';
              font-size: 17px;
              color: #fff;
            }
          }
        }
    }
    .qr-sec{
        padding: 30px 0;
    }
    .xaxi1{
        color: #fff;
        font-size: 8px;
    font-family: 'SF Pro Display';

    }
    .viernes{
        font-family: 'HelveticaNeue';
        color: #616161
    }

    .action-sheets-basic-page {
        .ion-md-share {
          color: #ED4248;
        }
        .ion-md-arrow-dropright-circle {  
          color: #508AE4;
        }
        .ion-md-heart-outline {
          color: #31D55F;
        }
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
          color: #757575;
        }
      }
}




@media only screen and (min-width: 750px) {

page-account .mall-logo-container .mall-logo{
    height: 200px;
}
.image-part{
    width: 50%;
}
.qr-part{
    float: right;
}
page-account .user-info-holder .user-card .card img{
    width: 100%;
    height: 250px;
}


}